/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-right: 1px solid #7176ff;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin: 5px 0;
}

.sidebar a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  display: flex;
  /* ใช้ flex เพื่อจัดตำแหน่ง */
  align-items: center;
  /* จัดให้อยู่กลางทั้งในแนวนอนและแนวตั้ง */
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar a:hover,
.sidebar a:focus {
  background-color: rgba(144, 198, 249, 0.2);
  color: #16192d;
}

.sidebar .material-symbols-outlined {
  font-size: 24px;
  margin-right: 10px;
  /* ระยะห่างระหว่างไอคอนกับข้อความ */
}

.logo {
  width: 100%;
  /* ทำให้รูปเต็ม container */
  max-width: 230px;
  /* ป้องกันการเกิน */
  height: auto;
  /* ปรับอัตโนมัติ */
  object-fit: cover;
  /* ให้ภาพเติมเต็มโดยไม่เสียสัดส่วน */
  display: block;
  /* ทำให้ไม่มีช่องว่างรอบรูป */
  margin: 0 auto 10px;
  /* เว้นระยะห่างด้านล่าง */
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.user-info {
  text-align: center;
  background-color: #fff;
  padding: 15px;
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}

/* Header */
.header {
  background-color: #000080;
  color: white;
  padding: 15px 30px;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 250px);
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.header h5 {
  margin: 0;
  flex-grow: 1;
  white-space: nowrap;
}

.header .material-symbols-outlined {
  font-size: 24px;
  cursor: pointer;
  vertical-align: middle;
}

/* Footer */
.footer {
  background-color: #000080;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-left: 250px;
  margin-right: auto;
  position: fixed;
  /* ทำให้ footer ติดอยู่ที่ด้านล่างสุด */
  bottom: 0;
  /* ให้ footer อยู่ที่ด้านล่าง */
  width: calc(100% - 250px);
  /* เพื่อให้ footer ไม่เกินขอบด้านข้าง */
}

.footer h5 {
  margin: 0;
  /* ลบระยะขอบภายในของ <h5> */
}